In [1]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

import pickle
import json

#### 1 Probel Statement

In [ ]:
Predict Medical insurance price base on Independent variables

#### 2. Data Gathering

In [2]:
df = pd.read_csv("Medical_Insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

#### 3. EDA

#### 3.1 Missing values

In [3]:
df.isna().mean()*100

age         0.0
sex         0.0
bmi         0.0
children    0.0
smoker      0.0
region      0.0
charges     0.0
dtype: float64

In [10]:
df.describe() # datetime_is_numeric

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

#### 4. Feature Engineering

In [12]:
df.rename(columns={"sex":"Gender"},inplace=True)

In [16]:
df["Gender"].value_counts().to_dict()

{'male': 676, 'female': 662}

In [17]:
df["Gender"].replace({'male': 0, 'female': 1},inplace=True)

In [18]:
df["Gender"].value_counts().to_dict()

{0: 676, 1: 662}

In [20]:
df["smoker"].value_counts().to_dict()

{'no': 1064, 'yes': 274}

In [21]:
df["smoker"].replace({'no': 0, 'yes': 1},inplace=True)

In [22]:
df["smoker"].value_counts().to_dict()

{0: 1064, 1: 274}

In [23]:
df.head(2)

   age  Gender    bmi  children  smoker     region     charges
0   19       1  27.90         0       1  southwest  16884.9240
1   18       0  33.77         1       0  southeast   1725.5523

In [24]:
df["region"].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [25]:
df = pd.get_dummies(df,columns=["region"])
df

,age,Gender,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,1,27.900,0,1,16884.92400,0,0,0,1
1,18,0,33.770,1,0,1725.55230,0,0,1,0
2,28,0,33.000,3,0,4449.46200,0,0,1,0
3,33,0,22.705,0,0,21984.47061,0,1,0,0
4,32,0,28.880,0,0,3866.85520,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
1333,50,0,30.970,3,0,10600.54830,0,1,0,0
1334,18,1,31.920,0,0,2205.98080,1,0,0,0
1335,18,1,36.850,0,0,1629.83350,0,0,1,0
1336,21,1,25.800,0,0,2007.94500,0,0,0,1
1337,61,1,29.070,0,1,29141.36030,0,1,0,0

In [26]:
df.head()

,age,Gender,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,1,27.900,0,1,16884.92400,0,0,0,1
1,18,0,33.770,1,0,1725.55230,0,0,1,0
2,28,0,33.000,3,0,4449.46200,0,0,1,0
3,33,0,22.705,0,0,21984.47061,0,1,0,0
4,32,0,28.880,0,0,3866.85520,0,1,0,0

##### 5. Feature Selection

In [ ]:
vif
df.corr()

#### 6. Model Training

#### 6.1 Data Spliting

In [29]:
x = df.drop("charges",axis=1)
y =df["charges"]
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.25,random_state=40)

#### 6.2 Model training

In [30]:
lr_model = LinearRegression()
lr_model.fit(x_train,y_train)

LinearRegression()

##### 7. Evaluation

#### 7.1 Testing

In [31]:
y_pred = lr_model.predict(x_test)

mse = mean_squared_error(y_test,y_pred)
print("MSE\n",mse)

mae = mean_absolute_error(y_test,y_pred)
print("MAE\n",mae)

r2 = r2_score(y_test,y_pred)
print("R2\n",r2)

MSE
 38700117.79880629
MAE
 4312.005303366578
R2
 0.7267938553481029

#### 7.2 Training

In [32]:
y_pred = lr_model.predict(x_train)

mse = mean_squared_error(y_train,y_pred)
print("MSE\n",mse)

mae = mean_absolute_error(y_train,y_pred)
print("MAE\n",mae)

r2 = r2_score(y_train,y_pred)
print("R2\n",r2)

MSE
 35879193.62444369
MAE
 4121.407768636624
R2
 0.7577938578947006

##### 8. Deployment

#### 8.1 User Input Testing

In [34]:
df.head(2)

,age,Gender,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,1,27.90,0,1,16884.9240,0,0,0,1
1,18,0,33.77,1,0,1725.5523,0,0,1,0

In [89]:
# ['age', 'Gender', 'bmi', 'children', 'smoker', 'charges = ?',
#        'region_northeast', 'region_northwest', 'region_southeast',
#        'region_southwest']

age    = 20
Gender = "female"
bmi    = 27.25
children = 1
smoker = "no"
region = "northwest"
# charges = ?

In [90]:
"region_"+region

'region_northwest'

In [91]:
project_data = {"Gender":{"male":0,"female":1},
               "smoker": {"yes":1,"no":0},
               "columns" : list(x.columns)}

In [92]:
project_data["Gender"]["male"]

0

In [93]:
column_names = x.columns
test_array = np.zeros(x.shape[1])
test_array[0] = age
test_array[1] = project_data["Gender"]["female"]
test_array[2] = bmi
test_array[3] = children
test_array[4] = project_data["smoker"]["no"]
region      =  "region_" + region
region_index = np.where(column_names == region)[0][0]
test_array[region_index] = 1
test_array

array([20.  ,  1.  , 27.25,  1.  ,  0.  ,  0.  ,  1.  ,  0.  ,  0.  ])

In [98]:
print(f"Medical Insurance Price is {np.around(lr_model.predict([test_array])[0],2)}")

Medical Insurance Price is 2119.39

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [99]:
with open("Linear_model.pkl","wb") as file:
    pickle.dump(lr_model,file)

In [100]:
with open("project_data.json","w") as file:
    json.dump(project_data,file)